<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/surajraja.rajsuraj" target="_blank" rel="noopener">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://www.instagram.com/chaurasia_suraj07_09/" target="_blank" rel="noopener">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/suraj-kumar-a59915285/" target="_blank" rel="noopener">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/Suraj1307" target="_blank" rel="noopener">
        <i class="fa-brands fa-square-github"></i>
      </a>
    </div>
    <div class="f-info-brand">&copy;StaySpot Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
